USE [master]
GO
/****** Object:  Database [CaptacionDB]    Script Date: 12/07/2026 12:07:39 p. m. ******/
CREATE DATABASE [CaptacionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CaptacionDB', FILENAME = N'C:\Users\brand\CaptacionDB.mdf' , SIZE = 14336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CaptacionDB_log', FILENAME = N'C:\Users\brand\CaptacionDB_log.ldf' , SIZE = 265344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CaptacionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CaptacionDB]
GO
/****** Object:  User [Brandon]    Script Date: 12/07/2026 12:07:40 p. m. ******/
CREATE USER [Brandon] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Brandon]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Brandon]
GO
/****** Object:  Table [dbo].[AplicacionesExamenes]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AplicacionesExamenes](
	[AplicacionID] [int] IDENTITY(1,1) NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[PuntajeTotal] [decimal](5, 2) NULL,
	[DefinicionExamenID] [int] NOT NULL,
	[AspiranteID] [int] NULL,
	[AreaPeriodoID] [int] NULL,
	[EstadoExamenID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AplicacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Nomenclatura] [nvarchar](20) NULL,
	[CarreraID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreasPorPeriodos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreasPorPeriodos](
	[AreaPeriodoID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NOT NULL,
	[CarreraPeriodoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaPeriodoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aspirantes]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aspirantes](
	[AspiranteID] [int] IDENTITY(1,1) NOT NULL,
	[Folio] [nvarchar](10) NOT NULL,
	[TelefonoAlterno] [nvarchar](10) NULL,
	[FechaNacimiento] [date] NULL,
	[CURP] [nvarchar](18) NULL,
	[NSS] [nvarchar](11) NULL,
	[Direccion] [nvarchar](200) NULL,
	[AnoEgreso] [int] NULL,
	[PromedioGeneral] [decimal](3, 1) NULL,
	[CertificadoPreparatoria] [bit] NULL,
	[PuntajeEXANI] [int] NULL,
	[PuntajePlacement] [int] NULL,
	[PagoPreinscripcion] [bit] NULL,
	[PagoInscripcion] [bit] NULL,
	[PagoCENEVAL] [bit] NULL,
	[TieneBeca] [bit] NULL,
	[PorcentajeBeca] [int] NULL,
	[PlaticaIntroductoria] [bit] NULL,
	[Matricula] [nvarchar](10) NULL,
	[TieneDiscapacidad] [bit] NULL,
	[TipoDiscapacidad] [nvarchar](50) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[UsuarioID] [int] NOT NULL,
	[GeneroID] [int] NULL,
	[EscuelaProcedenciaID] [int] NULL,
	[PrimeraOpcionAreaID] [int] NOT NULL,
	[SegundaOpcionAreaID] [int] NULL,
	[NivelInglesID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AspiranteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BancoPreguntas]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BancoPreguntas](
	[PreguntaID] [int] IDENTITY(1,1) NOT NULL,
	[TextoPregunta] [nvarchar](max) NOT NULL,
	[MateriaID] [int] NOT NULL,
	[TipoRespuestaID] [int] NULL,
	[Estatus] [bit] NOT NULL,
 CONSTRAINT [PK__BancoPre__EBB2A359C9B12AB9] PRIMARY KEY CLUSTERED 
(
	[PreguntaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[CarreraID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Nomenclatura] [nvarchar](20) NULL,
	[TipoCarreraID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarreraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarrerasAsignadas]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrerasAsignadas](
	[CarreraAsignadaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[CarreraID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarreraAsignadaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarrerasPorPeriodos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrerasPorPeriodos](
	[CarreraPeriodoID] [int] IDENTITY(1,1) NOT NULL,
	[CarreraID] [int] NOT NULL,
	[PeriodoID] [int] NOT NULL,
	[MetaRegistros] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarreraPeriodoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[ComentarioID] [int] IDENTITY(1,1) NOT NULL,
	[Contenido] [nvarchar](500) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[AspiranteID] [int] NOT NULL,
	[DocumentoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComentarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefinicionExamenes]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefinicionExamenes](
	[DefinicionExamenID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DuracionMinutos] [int] NULL,
	[DisponibleDesde] [datetime] NOT NULL,
	[DisponibleHasta] [datetime] NOT NULL,
	[UsuarioCreacionID] [int] NOT NULL,
	[Estatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DefinicionExamenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[DocumentoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreOriginal] [nvarchar](255) NOT NULL,
	[ExtensionArchivo] [nvarchar](10) NOT NULL,
	[TipoMIME] [nvarchar](100) NOT NULL,
	[TamanoArchivoBytes] [int] NOT NULL,
	[RutaAlmacenamiento] [nvarchar](500) NOT NULL,
	[HashArchivo] [nvarchar](64) NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
	[FechaRevision] [datetime] NULL,
	[NumeroVersion] [int] NOT NULL,
	[VersionActual] [bit] NOT NULL,
	[AspiranteID] [int] NOT NULL,
	[TipoDocumentoID] [int] NOT NULL,
	[EstadoDocumentoID] [int] NOT NULL,
	[UsuarioID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscuelasProcedencia]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscuelasProcedencia](
	[EscuelaProcedenciaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CCT] [nvarchar](10) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Estatus] [bit] NOT NULL,
 CONSTRAINT [PK__Escuelas__0A8E5DB6AE0B730C] PRIMARY KEY CLUSTERED 
(
	[EscuelaProcedenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosDocumentos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosDocumentos](
	[EstadoDocumentoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoDocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosExamenes]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosExamenes](
	[EstadoExamenID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoExamenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evidencias]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencias](
	[EvidenciaID] [int] IDENTITY(1,1) NOT NULL,
	[RutaAlmacenamiento] [nvarchar](500) NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
	[FechaRevision] [datetime] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[UsuarioRevisionID] [int] NULL,
	[TipoEvidenciaID] [int] NOT NULL,
	[AspiranteID] [int] NOT NULL,
	[AplicacionID] [int] NULL,
	[EstadoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EvidenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamenesGenerados]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamenesGenerados](
	[ExamenGeneradoID] [int] IDENTITY(1,1) NOT NULL,
	[FechaGeneracion] [datetime] NOT NULL,
	[AplicacionID] [int] NOT NULL,
	[PreguntaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamenGeneradoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamenesMaterias]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamenesMaterias](
	[ExamenMateriaID] [int] IDENTITY(1,1) NOT NULL,
	[CantidadPreguntas] [int] NOT NULL,
	[DefinicionExamenID] [int] NOT NULL,
	[MateriaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamenMateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[GeneroID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Generos__A99D02688F5D5FC3] PRIMARY KEY CLUSTERED 
(
	[GeneroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ind_Materiales]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ind_Materiales](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[UnidadID] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[TipoRecurso] [nvarchar](50) NOT NULL,
	[RutaURL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_IndMateriales] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ind_Materias]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ind_Materias](
	[MateriaID] [int] IDENTITY(1,1) NOT NULL,
	[CarreraID] [int] NOT NULL,
	[PeriodoID] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_IndMaterias] PRIMARY KEY CLUSTERED 
(
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ind_ProgresoAspirante]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ind_ProgresoAspirante](
	[ProgresoID] [int] IDENTITY(1,1) NOT NULL,
	[AspiranteID] [int] NOT NULL,
	[UnidadID] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Calificacion] [decimal](5, 2) NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[FechaEnvio] [datetime] NULL,
	[UsuarioCalificadorID] [int] NULL,
	[ComentariosEvaluador] [nvarchar](max) NULL,
 CONSTRAINT [PK_IndProgresoAspirante] PRIMARY KEY CLUSTERED 
(
	[ProgresoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ind_Unidades]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ind_Unidades](
	[UnidadID] [int] IDENTITY(1,1) NOT NULL,
	[MateriaID] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Orden] [int] NOT NULL,
 CONSTRAINT [PK_IndUnidades] PRIMARY KEY CLUSTERED 
(
	[UnidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[MateriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateriasAsignadas]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriasAsignadas](
	[MateriaAsignadaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[MateriaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MateriaAsignadaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelesIngles]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelesIngles](
	[NivelInglesID] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NivelInglesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](255) NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaLectura] [datetime] NULL,
	[FechaExpiracion] [datetime] NULL,
	[TipoNotificacionID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[AspiranteID] [int] NULL,
	[DocumentoID] [int] NULL,
	[AplicacionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpcionesRespuestas]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcionesRespuestas](
	[OpcionID] [int] IDENTITY(1,1) NOT NULL,
	[TextoOpcion] [nvarchar](max) NOT NULL,
	[EsCorrecta] [bit] NOT NULL,
	[PreguntaID] [int] NOT NULL,
	[Orden] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OpcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodos](
	[PeriodoID] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PeriodoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntasRecursos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntasRecursos](
	[PreguntaRecursoID] [int] IDENTITY(1,1) NOT NULL,
	[PreguntaID] [int] NOT NULL,
	[RecursoID] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[FechaAsociacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PreguntaRecursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recursos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recursos](
	[RecursoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRecurso] [nvarchar](255) NOT NULL,
	[RutaArchivo] [nvarchar](500) NULL,
	[ContenidoTexto] [nvarchar](max) NULL,
	[DuracionSegundos] [int] NULL,
	[TamanoBytes] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[TipoRecursoID] [int] NOT NULL,
	[TipoMime] [nvarchar](255) NULL,
	[DescripcionRecurso] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasAspirantes]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasAspirantes](
	[RespuestaID] [int] IDENTITY(1,1) NOT NULL,
	[FechaRespuesta] [datetime] NOT NULL,
	[PuntajeObtenido] [decimal](5, 2) NULL,
	[AplicacionID] [int] NOT NULL,
	[PreguntaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RespuestaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasOpcionesSeleccionadas]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasOpcionesSeleccionadas](
	[RespuestaOpcionID] [int] IDENTITY(1,1) NOT NULL,
	[RespuestaID] [int] NOT NULL,
	[OpcionID] [int] NOT NULL,
	[Orden] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RespuestaOpcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__F92302D1068EAA52] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposCarreras]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposCarreras](
	[TipoCarreraID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoCarreraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDocumentos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDocumentos](
	[TipoDocumentoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoDocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposEvidencias]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposEvidencias](
	[TipoEvidenciaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoEvidenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposNotificaciones]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposNotificaciones](
	[TipoNotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoNotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposRecursos]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposRecursos](
	[TipoRecursoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoRecursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposRespuestas]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposRespuestas](
	[TipoRespuestaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoRespuestaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tokens]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[ValorToken] [nvarchar](600) NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NULL,
	[Usado] [bit] NOT NULL,
	[FechaUso] [datetime] NULL,
	[UsuarioID] [int] NOT NULL,
 CONSTRAINT [PK__Tokens__658FEE8AD7385B95] PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/07/2026 12:07:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ApellidoPaterno] [nvarchar](80) NOT NULL,
	[ApellidoMaterno] [nvarchar](80) NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[CorreoElectronico] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](10) NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[UltimoAcceso] [datetime] NULL,
	[FotoPerfil] [nvarchar](max) NULL,
	[RolID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AplicacionesExamenes] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Aspirantes] ADD  DEFAULT ((0)) FOR [PagoInscripcion]
GO
ALTER TABLE [dbo].[BancoPreguntas] ADD  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Comentarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DefinicionExamenes] ADD  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Documentos] ADD  DEFAULT ((1)) FOR [NumeroVersion]
GO
ALTER TABLE [dbo].[Documentos] ADD  DEFAULT ((1)) FOR [VersionActual]
GO
ALTER TABLE [dbo].[Documentos] ADD  DEFAULT ((4)) FOR [EstadoDocumentoID]
GO
ALTER TABLE [dbo].[EscuelasProcedencia] ADD  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Evidencias] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[Evidencias] ADD  DEFAULT ((3)) FOR [EstadoID]
GO
ALTER TABLE [dbo].[ExamenesGenerados] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Ind_Materias] ADD  CONSTRAINT [DF_IndMaterias_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante] ADD  CONSTRAINT [DF_ProgresoAspirante_Estado]  DEFAULT ('Asignado') FOR [Estado]
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante] ADD  CONSTRAINT [DF_Progreso_FechaAsignacion]  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Ind_Unidades] ADD  CONSTRAINT [DF_IndUnidades_Orden]  DEFAULT ((1)) FOR [Orden]
GO
ALTER TABLE [dbo].[Materias] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Periodos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PreguntasRecursos] ADD  DEFAULT ((1)) FOR [Orden]
GO
ALTER TABLE [dbo].[PreguntasRecursos] ADD  DEFAULT (getdate()) FOR [FechaAsociacion]
GO
ALTER TABLE [dbo].[Recursos] ADD  DEFAULT ((0)) FOR [TamanoBytes]
GO
ALTER TABLE [dbo].[Recursos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Recursos] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[RespuestasAspirantes] ADD  DEFAULT (getdate()) FOR [FechaRespuesta]
GO
ALTER TABLE [dbo].[RespuestasOpcionesSeleccionadas] ADD  DEFAULT ((1)) FOR [Orden]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[AplicacionesExamenes]  WITH CHECK ADD  CONSTRAINT [FK_AplicacionesExamenes_AreasPorPeriodos] FOREIGN KEY([AreaPeriodoID])
REFERENCES [dbo].[AreasPorPeriodos] ([AreaPeriodoID])
GO
ALTER TABLE [dbo].[AplicacionesExamenes] CHECK CONSTRAINT [FK_AplicacionesExamenes_AreasPorPeriodos]
GO
ALTER TABLE [dbo].[AplicacionesExamenes]  WITH CHECK ADD  CONSTRAINT [FK_AplicacionesExamenes_Aspirantes] FOREIGN KEY([AspiranteID])
REFERENCES [dbo].[Aspirantes] ([AspiranteID])
GO
ALTER TABLE [dbo].[AplicacionesExamenes] CHECK CONSTRAINT [FK_AplicacionesExamenes_Aspirantes]
GO
ALTER TABLE [dbo].[AplicacionesExamenes]  WITH CHECK ADD  CONSTRAINT [FK_AplicacionesExamenes_DefinicionExamenes] FOREIGN KEY([DefinicionExamenID])
REFERENCES [dbo].[DefinicionExamenes] ([DefinicionExamenID])
GO
ALTER TABLE [dbo].[AplicacionesExamenes] CHECK CONSTRAINT [FK_AplicacionesExamenes_DefinicionExamenes]
GO
ALTER TABLE [dbo].[AplicacionesExamenes]  WITH CHECK ADD  CONSTRAINT [FK_AplicacionesExamenes_Estados] FOREIGN KEY([EstadoExamenID])
REFERENCES [dbo].[EstadosExamenes] ([EstadoExamenID])
GO
ALTER TABLE [dbo].[AplicacionesExamenes] CHECK CONSTRAINT [FK_AplicacionesExamenes_Estados]
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_Carreras] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_Carreras]
GO
ALTER TABLE [dbo].[AreasPorPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_AreasPorPeriodos_Areas] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([AreaID])
GO
ALTER TABLE [dbo].[AreasPorPeriodos] CHECK CONSTRAINT [FK_AreasPorPeriodos_Areas]
GO
ALTER TABLE [dbo].[AreasPorPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_AreasPorPeriodos_CarrerasPorPeriodos] FOREIGN KEY([CarreraPeriodoID])
REFERENCES [dbo].[CarrerasPorPeriodos] ([CarreraPeriodoID])
GO
ALTER TABLE [dbo].[AreasPorPeriodos] CHECK CONSTRAINT [FK_AreasPorPeriodos_CarrerasPorPeriodos]
GO
ALTER TABLE [dbo].[Aspirantes]  WITH CHECK ADD  CONSTRAINT [FK_Aspirantes_AreasPorPeriodos_PrimeraOpcion] FOREIGN KEY([PrimeraOpcionAreaID])
REFERENCES [dbo].[AreasPorPeriodos] ([AreaPeriodoID])
GO
ALTER TABLE [dbo].[Aspirantes] CHECK CONSTRAINT [FK_Aspirantes_AreasPorPeriodos_PrimeraOpcion]
GO
ALTER TABLE [dbo].[Aspirantes]  WITH CHECK ADD  CONSTRAINT [FK_Aspirantes_AreasPorPeriodos_SegundaOpcion] FOREIGN KEY([SegundaOpcionAreaID])
REFERENCES [dbo].[AreasPorPeriodos] ([AreaPeriodoID])
GO
ALTER TABLE [dbo].[Aspirantes] CHECK CONSTRAINT [FK_Aspirantes_AreasPorPeriodos_SegundaOpcion]
GO
ALTER TABLE [dbo].[Aspirantes]  WITH CHECK ADD  CONSTRAINT [FK_Aspirantes_EscuelasProcedencia] FOREIGN KEY([EscuelaProcedenciaID])
REFERENCES [dbo].[EscuelasProcedencia] ([EscuelaProcedenciaID])
GO
ALTER TABLE [dbo].[Aspirantes] CHECK CONSTRAINT [FK_Aspirantes_EscuelasProcedencia]
GO
ALTER TABLE [dbo].[Aspirantes]  WITH CHECK ADD  CONSTRAINT [FK_Aspirantes_Generos] FOREIGN KEY([GeneroID])
REFERENCES [dbo].[Generos] ([GeneroID])
GO
ALTER TABLE [dbo].[Aspirantes] CHECK CONSTRAINT [FK_Aspirantes_Generos]
GO
ALTER TABLE [dbo].[Aspirantes]  WITH CHECK ADD  CONSTRAINT [FK_Aspirantes_NivelesIngles] FOREIGN KEY([NivelInglesID])
REFERENCES [dbo].[NivelesIngles] ([NivelInglesID])
GO
ALTER TABLE [dbo].[Aspirantes] CHECK CONSTRAINT [FK_Aspirantes_NivelesIngles]
GO
ALTER TABLE [dbo].[Aspirantes]  WITH CHECK ADD  CONSTRAINT [FK_Aspirantes_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Aspirantes] CHECK CONSTRAINT [FK_Aspirantes_Usuarios]
GO
ALTER TABLE [dbo].[BancoPreguntas]  WITH CHECK ADD  CONSTRAINT [FK_BancoPreguntas_Materias] FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Materias] ([MateriaID])
GO
ALTER TABLE [dbo].[BancoPreguntas] CHECK CONSTRAINT [FK_BancoPreguntas_Materias]
GO
ALTER TABLE [dbo].[BancoPreguntas]  WITH CHECK ADD  CONSTRAINT [FK_BancoPreguntas_TiposRespuestas] FOREIGN KEY([TipoRespuestaID])
REFERENCES [dbo].[TiposRespuestas] ([TipoRespuestaID])
GO
ALTER TABLE [dbo].[BancoPreguntas] CHECK CONSTRAINT [FK_BancoPreguntas_TiposRespuestas]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [FK_Carreras_TiposCarreras] FOREIGN KEY([TipoCarreraID])
REFERENCES [dbo].[TiposCarreras] ([TipoCarreraID])
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [FK_Carreras_TiposCarreras]
GO
ALTER TABLE [dbo].[CarrerasAsignadas]  WITH CHECK ADD  CONSTRAINT [FK_CarrerasAsignadas_Carreras] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[CarrerasAsignadas] CHECK CONSTRAINT [FK_CarrerasAsignadas_Carreras]
GO
ALTER TABLE [dbo].[CarrerasAsignadas]  WITH CHECK ADD  CONSTRAINT [FK_CarrerasAsignadas_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[CarrerasAsignadas] CHECK CONSTRAINT [FK_CarrerasAsignadas_Usuarios]
GO
ALTER TABLE [dbo].[CarrerasPorPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_CarrerasPorPeriodos_Carreras] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[CarrerasPorPeriodos] CHECK CONSTRAINT [FK_CarrerasPorPeriodos_Carreras]
GO
ALTER TABLE [dbo].[CarrerasPorPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_CarrerasPorPeriodos_Periodos] FOREIGN KEY([PeriodoID])
REFERENCES [dbo].[Periodos] ([PeriodoID])
GO
ALTER TABLE [dbo].[CarrerasPorPeriodos] CHECK CONSTRAINT [FK_CarrerasPorPeriodos_Periodos]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Aspirantes] FOREIGN KEY([AspiranteID])
REFERENCES [dbo].[Aspirantes] ([AspiranteID])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Aspirantes]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Documentos] FOREIGN KEY([DocumentoID])
REFERENCES [dbo].[Documentos] ([DocumentoID])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Documentos]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Usuarios]
GO
ALTER TABLE [dbo].[DefinicionExamenes]  WITH CHECK ADD  CONSTRAINT [FK_DefinicionExamenes_Usuarios] FOREIGN KEY([UsuarioCreacionID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[DefinicionExamenes] CHECK CONSTRAINT [FK_DefinicionExamenes_Usuarios]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Aspirantes] FOREIGN KEY([AspiranteID])
REFERENCES [dbo].[Aspirantes] ([AspiranteID])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documentos_Aspirantes]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_EstadosDocumentos] FOREIGN KEY([EstadoDocumentoID])
REFERENCES [dbo].[EstadosDocumentos] ([EstadoDocumentoID])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documentos_EstadosDocumentos]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_TiposDocumentos] FOREIGN KEY([TipoDocumentoID])
REFERENCES [dbo].[TiposDocumentos] ([TipoDocumentoID])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documentos_TiposDocumentos]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documentos_Usuarios]
GO
ALTER TABLE [dbo].[Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Evidencias_AplicacionesExamenes] FOREIGN KEY([AplicacionID])
REFERENCES [dbo].[AplicacionesExamenes] ([AplicacionID])
GO
ALTER TABLE [dbo].[Evidencias] CHECK CONSTRAINT [FK_Evidencias_AplicacionesExamenes]
GO
ALTER TABLE [dbo].[Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Evidencias_Aspirantes] FOREIGN KEY([AspiranteID])
REFERENCES [dbo].[Aspirantes] ([AspiranteID])
GO
ALTER TABLE [dbo].[Evidencias] CHECK CONSTRAINT [FK_Evidencias_Aspirantes]
GO
ALTER TABLE [dbo].[Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Evidencias_EstadosDocumentos] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[EstadosDocumentos] ([EstadoDocumentoID])
GO
ALTER TABLE [dbo].[Evidencias] CHECK CONSTRAINT [FK_Evidencias_EstadosDocumentos]
GO
ALTER TABLE [dbo].[Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Evidencias_TiposEvidencias] FOREIGN KEY([TipoEvidenciaID])
REFERENCES [dbo].[TiposEvidencias] ([TipoEvidenciaID])
GO
ALTER TABLE [dbo].[Evidencias] CHECK CONSTRAINT [FK_Evidencias_TiposEvidencias]
GO
ALTER TABLE [dbo].[Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Evidencias_Usuarios] FOREIGN KEY([UsuarioRevisionID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Evidencias] CHECK CONSTRAINT [FK_Evidencias_Usuarios]
GO
ALTER TABLE [dbo].[ExamenesGenerados]  WITH CHECK ADD  CONSTRAINT [FK_ExamenesGenerados_AplicacionesExamenes] FOREIGN KEY([AplicacionID])
REFERENCES [dbo].[AplicacionesExamenes] ([AplicacionID])
GO
ALTER TABLE [dbo].[ExamenesGenerados] CHECK CONSTRAINT [FK_ExamenesGenerados_AplicacionesExamenes]
GO
ALTER TABLE [dbo].[ExamenesGenerados]  WITH CHECK ADD  CONSTRAINT [FK_ExamenesGenerados_BancoPreguntas] FOREIGN KEY([PreguntaID])
REFERENCES [dbo].[BancoPreguntas] ([PreguntaID])
GO
ALTER TABLE [dbo].[ExamenesGenerados] CHECK CONSTRAINT [FK_ExamenesGenerados_BancoPreguntas]
GO
ALTER TABLE [dbo].[ExamenesMaterias]  WITH CHECK ADD  CONSTRAINT [FK_ExamenesMaterias_DefinicionExamenes] FOREIGN KEY([DefinicionExamenID])
REFERENCES [dbo].[DefinicionExamenes] ([DefinicionExamenID])
GO
ALTER TABLE [dbo].[ExamenesMaterias] CHECK CONSTRAINT [FK_ExamenesMaterias_DefinicionExamenes]
GO
ALTER TABLE [dbo].[ExamenesMaterias]  WITH CHECK ADD  CONSTRAINT [FK_ExamenesMaterias_Materias] FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Materias] ([MateriaID])
GO
ALTER TABLE [dbo].[ExamenesMaterias] CHECK CONSTRAINT [FK_ExamenesMaterias_Materias]
GO
ALTER TABLE [dbo].[Ind_Materiales]  WITH CHECK ADD  CONSTRAINT [FK_IndMateriales_Unidades] FOREIGN KEY([UnidadID])
REFERENCES [dbo].[Ind_Unidades] ([UnidadID])
GO
ALTER TABLE [dbo].[Ind_Materiales] CHECK CONSTRAINT [FK_IndMateriales_Unidades]
GO
ALTER TABLE [dbo].[Ind_Materias]  WITH CHECK ADD  CONSTRAINT [FK_IndMaterias_Carreras] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[Ind_Materias] CHECK CONSTRAINT [FK_IndMaterias_Carreras]
GO
ALTER TABLE [dbo].[Ind_Materias]  WITH CHECK ADD  CONSTRAINT [FK_IndMaterias_Periodos] FOREIGN KEY([PeriodoID])
REFERENCES [dbo].[Periodos] ([PeriodoID])
GO
ALTER TABLE [dbo].[Ind_Materias] CHECK CONSTRAINT [FK_IndMaterias_Periodos]
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante]  WITH CHECK ADD  CONSTRAINT [FK_Progreso_Aspirantes] FOREIGN KEY([AspiranteID])
REFERENCES [dbo].[Aspirantes] ([AspiranteID])
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante] CHECK CONSTRAINT [FK_Progreso_Aspirantes]
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante]  WITH CHECK ADD  CONSTRAINT [FK_Progreso_Unidades] FOREIGN KEY([UnidadID])
REFERENCES [dbo].[Ind_Unidades] ([UnidadID])
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante] CHECK CONSTRAINT [FK_Progreso_Unidades]
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante]  WITH CHECK ADD  CONSTRAINT [FK_Progreso_UsuarioCalificador] FOREIGN KEY([UsuarioCalificadorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Ind_ProgresoAspirante] CHECK CONSTRAINT [FK_Progreso_UsuarioCalificador]
GO
ALTER TABLE [dbo].[Ind_Unidades]  WITH CHECK ADD  CONSTRAINT [FK_IndUnidades_Materias] FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Ind_Materias] ([MateriaID])
GO
ALTER TABLE [dbo].[Ind_Unidades] CHECK CONSTRAINT [FK_IndUnidades_Materias]
GO
ALTER TABLE [dbo].[MateriasAsignadas]  WITH CHECK ADD  CONSTRAINT [FK_MateriasAsignadas_Materias] FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Materias] ([MateriaID])
GO
ALTER TABLE [dbo].[MateriasAsignadas] CHECK CONSTRAINT [FK_MateriasAsignadas_Materias]
GO
ALTER TABLE [dbo].[MateriasAsignadas]  WITH CHECK ADD  CONSTRAINT [FK_MateriasAsignadas_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[MateriasAsignadas] CHECK CONSTRAINT [FK_MateriasAsignadas_Usuarios]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_AplicacionesExamenes] FOREIGN KEY([AplicacionID])
REFERENCES [dbo].[AplicacionesExamenes] ([AplicacionID])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_AplicacionesExamenes]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Aspirantes] FOREIGN KEY([AspiranteID])
REFERENCES [dbo].[Aspirantes] ([AspiranteID])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Aspirantes]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Documentos] FOREIGN KEY([DocumentoID])
REFERENCES [dbo].[Documentos] ([DocumentoID])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Documentos]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_TiposNotificaciones] FOREIGN KEY([TipoNotificacionID])
REFERENCES [dbo].[TiposNotificaciones] ([TipoNotificacionID])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_TiposNotificaciones]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Usuarios]
GO
ALTER TABLE [dbo].[OpcionesRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_OpcionesRespuestas_BancoPreguntas] FOREIGN KEY([PreguntaID])
REFERENCES [dbo].[BancoPreguntas] ([PreguntaID])
GO
ALTER TABLE [dbo].[OpcionesRespuestas] CHECK CONSTRAINT [FK_OpcionesRespuestas_BancoPreguntas]
GO
ALTER TABLE [dbo].[PreguntasRecursos]  WITH CHECK ADD  CONSTRAINT [FK_PreguntasRecursos_BancoPreguntas] FOREIGN KEY([PreguntaID])
REFERENCES [dbo].[BancoPreguntas] ([PreguntaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreguntasRecursos] CHECK CONSTRAINT [FK_PreguntasRecursos_BancoPreguntas]
GO
ALTER TABLE [dbo].[PreguntasRecursos]  WITH CHECK ADD  CONSTRAINT [FK_PreguntasRecursos_Recursos] FOREIGN KEY([RecursoID])
REFERENCES [dbo].[Recursos] ([RecursoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreguntasRecursos] CHECK CONSTRAINT [FK_PreguntasRecursos_Recursos]
GO
ALTER TABLE [dbo].[Recursos]  WITH CHECK ADD  CONSTRAINT [FK_Recursos_TiposRecursos] FOREIGN KEY([TipoRecursoID])
REFERENCES [dbo].[TiposRecursos] ([TipoRecursoID])
GO
ALTER TABLE [dbo].[Recursos] CHECK CONSTRAINT [FK_Recursos_TiposRecursos]
GO
ALTER TABLE [dbo].[RespuestasAspirantes]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasAspirante_AplicacionesExamenes] FOREIGN KEY([AplicacionID])
REFERENCES [dbo].[AplicacionesExamenes] ([AplicacionID])
GO
ALTER TABLE [dbo].[RespuestasAspirantes] CHECK CONSTRAINT [FK_RespuestasAspirante_AplicacionesExamenes]
GO
ALTER TABLE [dbo].[RespuestasAspirantes]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasAspirante_BancoPreguntas] FOREIGN KEY([PreguntaID])
REFERENCES [dbo].[BancoPreguntas] ([PreguntaID])
GO
ALTER TABLE [dbo].[RespuestasAspirantes] CHECK CONSTRAINT [FK_RespuestasAspirante_BancoPreguntas]
GO
ALTER TABLE [dbo].[RespuestasOpcionesSeleccionadas]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasOpcionesSeleccionadas_OpcionesRespuestas] FOREIGN KEY([OpcionID])
REFERENCES [dbo].[OpcionesRespuestas] ([OpcionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestasOpcionesSeleccionadas] CHECK CONSTRAINT [FK_RespuestasOpcionesSeleccionadas_OpcionesRespuestas]
GO
ALTER TABLE [dbo].[RespuestasOpcionesSeleccionadas]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasOpcionesSeleccionadas_RespuestasAspirantes] FOREIGN KEY([RespuestaID])
REFERENCES [dbo].[RespuestasAspirantes] ([RespuestaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestasOpcionesSeleccionadas] CHECK CONSTRAINT [FK_RespuestasOpcionesSeleccionadas_RespuestasAspirantes]
GO
ALTER TABLE [dbo].[Tokens]  WITH CHECK ADD  CONSTRAINT [FK_Tokens_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Tokens] CHECK CONSTRAINT [FK_Tokens_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Recursos]  WITH CHECK ADD  CONSTRAINT [CK_Recursos_Contenido] CHECK  (([RutaArchivo] IS NOT NULL AND [ContenidoTexto] IS NULL OR [RutaArchivo] IS NULL AND [ContenidoTexto] IS NOT NULL))
GO
ALTER TABLE [dbo].[Recursos] CHECK CONSTRAINT [CK_Recursos_Contenido]
GO
USE [master]
GO
